$color_menu:  #eee;
$bg_color_menu:#0E6187 ;
$color_menu_hover: #fff;
$bg_color_menu_hover:#0E6187 ;
$bgcolor_principal_article: #EAF4F7;
$bgcolor_footer:  #0E6187; 
$color_footer: white;
$bgcolor_header: #EAF4F7;