ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



h1 + h2 {
    color: red;
   }
   
   p + h2::first-letter  {
       color: red;
   }

    .item:nth-child(3){
       color: green;
       
   }

   li:nth-child(1):hover::before{
    content:"Somos elementos impares";
}