$colorTexto:#eee;
$colorTextoHover:#fff;
$bgColorFondo:#666;
$bgColorFondoHover:#888;


@mixin coloresPrincipales {
    color:$colorTexto;
    background-color:$bgColorFondo;

  }

  @mixin coloresPrincipalesHover {
    color:$colorTextoHover;
    background-color: $bgColorFondoHover;
    
  }

  @mixin BoxSizing ($box){
    box-sizing: $box;
    -webkit-box-sizing: $box;
    -moz-box-sizing: $box;
  }

  @mixin Transiciones ($property,$duration,$timing:linear){
    
    transition: $property $duration $timing;
    -webkit-transition:  $property $duration $timing;
    -moz-transition: $property $duration $timing;
    
  }

  @mixin Animaciones ($name, $duration ,$timing:linear){
    animation:$name, $duration ,$timing;
    -webkit-animation: $name, $duration ,$timing;
    -moz-animation: $name, $duration ,$timing;
  }


  @import "_menu.scss";

body {
  padding: 0px;
  margin: 0px;
}

header {
  padding: 12px 30px;
  font-size: 1.8em;
  color: #444;
  background-color: #eee;
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 5px;
  @include coloresPrincipales;
  @include BoxSizing(border-box);

}

